<div class="f-clear"></div>
<div class="assign">
<p>
  <span class="a-row2"><%= @assignment.week %></span>
</p>

<p>
  <b>Category:</b>
  <span class="a-row2"><%= @assignment.category %></span>
</p>

<p>
  <b>Title:</b>
  <span class="a-row2"><%= @assignment.title %></span>
</p>

<p>
  <b>Description:</b>
  <span class="a-row2"><%= @assignment.description %></span>
</p>

<p>
  <b>Link:</b>
  <span class="a-row2"><%= @assignment.link %></span>
</p>

<p>
  <b>Note:</b>
  <span class="a-row2"><%= @assignment.note %></span>
</p>

<%= link_to 'Back', assignments_path %>
</div>
