<div class="contact-form-c">
<%= simple_form_for @contact do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :autofocus => true, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>


  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, class: "form-control", rows: "7" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :nickname, :hint => "Leave this field blank!" %>
  </div>
</br>
  <%= f.submit "Send Message", class: "btn btn-danger" %>
<% end %>
</div>

